<aside class="Hui-aside">
	{volist name='menus' id='vo'}
	<div class="menu_dropdown bk_2">
		<dl>
			<dt>{$vo.name} <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					{volist name='vo.subcate' id='vv'}
					<li><a data-href="{$vv.action}" data-title="{$vv.name}" href="javascript:void(0)">{$vv.name}</a></li>
					{/volist}
				</ul>
			</dd>
		</dl>
	</div>
	{/volist}
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>